[Desktop Entry]
Version=1.0
Name=FlCards Package Manager
Comment=NuTyX Package Manager
GenericName=Package Manager
Exec=sudo -A flcards
Terminal=false
Icon=flcards
Categories=System;
Type=Application
StartupNotify=true
